<h1>Book store</h1>
<br>
<br>
<%#  link_to "About", about_path(name:"MD Shahriar",id:10) %>
<%= link_to "Books", books_path %> <br>
<%= link_to "About", {action:"about",id:5,name:"Shahriar"} %> <br>
<%= link_to "Hello", {controller:"hello", action:"index",id:5,name:"Shahriar"} %>
