<%= link_to "Back to Home", root_path  %> <br>
<h1>Books List</h1>
<%= link_to "Book 1", book_path(id:"1",name:"Harry Poter") %> <br>
<%= link_to "Book 2", {controller: "books", action:"show", id:"2", name:"Himu"} %>